$primary-color-dark: #37474F;
$primary-color-light:  #263238;
$secondary-color-dark: #673AB7;
$secondary-color-light:#9976db;
$tertiary-color-dark: #46BE8A;
$tertiary-color-light: #71E574;
$accent-color: #FF681C;
$accent-color-light: #f77c56;
$background-color: #F5F5F5;
$background-second:		 #F5F5F5;
$primary-color-text: #FFFFFF;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;


$size__base_font : 14;

@function em($target, $context: $size__base_font) {
  @return ($target / $context) * 1em;
}
