* {
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6, button, .card-title, .side-nav span, .nav-wrapper span, .item-active p, .btn, .bookmark span {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F5F5F5; }

h4 {
  color: #FFFFFF; }

main {
  flex: 1 0 auto;
  min-height: 900px;
  margin-left: 270px; }

form {
  background-color: #FFFFFF; }

.section-login form, .section-register form {
  background-color: transparent; }

.prev-img {
  display: inline-block; }

.img-responsive {
  animation-delay: 0.5s; }

.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.7; }
  .loading .preloader-wrapper {
    position: absolute;
    top: 60%;
    left: 50%; }
    .loading .preloader-wrapper .spinner-orange-only {
      border-color: #FF681C; }

/*****CHAT*****/
.chat-content .fixed-action-btn .btn-menu {
  background-color: #FF681C; }
  .chat-content .fixed-action-btn .btn-menu:hover {
    background-color: #f77c56; }
.chat-content .fixed-action-btn .chat {
  display: none;
  width: 320px;
  position: absolute;
  right: 60px;
  bottom: 5px;
  background-color: #B6B6B6;
  text-align: left;
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .chat-content .fixed-action-btn .chat:hover {
    background-color: #B6B6B6; }
  .chat-content .fixed-action-btn .chat p {
    margin: 0;
    padding: 10px;
    color: #FFFFFF;
    background-color: #727272; }
    .chat-content .fixed-action-btn .chat p i {
      margin-right: 5px; }
  .chat-content .fixed-action-btn .chat form #output-chat {
    max-height: 280px;
    overflow-y: scroll; }
    .chat-content .fixed-action-btn .chat form #output-chat .messages {
      background-color: #B6B6B6;
      border: 1px solid #B6B6B6;
      padding: 5px;
      overflow-y: auto; }
      .chat-content .fixed-action-btn .chat form #output-chat .messages img {
        width: 35px; }
      .chat-content .fixed-action-btn .chat form #output-chat .messages span {
        display: inline-block;
        background-color: #FFFFFF;
        padding: 2px;
        border-radius: 4px; }
  .chat-content .fixed-action-btn .chat form .input-field {
    padding: 5px;
    margin: 0;
    background-color: #e5e5e5; }
    .chat-content .fixed-action-btn .chat form .input-field input[type=text] {
      background-color: #FFFFFF;
      width: 83%;
      margin-bottom: 0;
      padding-left: 5px;
      border: none;
      box-shadow: none; }

/*****CALENDAR*****/
#calendar {
  margin-top: 50px;
  background-color: #FFFFFF;
  padding: 20px 10px;
  border-radius: 4px; }
  #calendar .fc-prev-button, #calendar .fc-next-button {
    background-image: none;
    background-color: #673AB7; }
    #calendar .fc-prev-button span, #calendar .fc-next-button span {
      color: #FFFFFF; }
    #calendar .fc-prev-button:hover, #calendar .fc-next-button:hover {
      background-color: #9976db; }
  #calendar .fc-state-active, #calendar .fc-state-disabled {
    background-color: #9976db;
    color: #FFFFFF; }
  #calendar .fc-state-default:hover {
    background-image: none;
    background-color: #9976db;
    color: #FFFFFF; }
  #calendar .fc-today {
    background-color: rgba(70, 190, 138, 0.3); }
  #calendar h2:first-letter {
    text-transform: uppercase; }
  #calendar .fc-event {
    display: inline-block; }
    #calendar .fc-event .fc-content {
      white-space: normal; }
      #calendar .fc-event .fc-content .fc-time {
        display: none; }
      #calendar .fc-event .fc-content .fc-title {
        font-size: 1.14286em; }

.progress {
  display: inline-block;
  width: 90%; }

.icon-done {
  display: none;
  color: #46BE8A; }

.file-size {
  color: #FFFFFF; }

input {
  color: #FFFFFF; }

.help-block {
  color: #F44336; }

.card .card-content .subtitle {
  color: #727272;
  font-size: 1.14286em;
  padding-bottom: 5px; }

.btn-show {
  background-color: #673AB7; }
  .btn-show:hover {
    background-color: #9976db; }

.btn-edit {
  background-color: #FF681C; }
  .btn-edit:hover {
    background-color: #f77c56; }

.btn-create {
  background-color: #673AB7; }
  .btn-create:hover, .btn-create:focus {
    background-color: #9976db; }

.fixed-action-btn .btn-floating {
  background-color: #46BE8A; }
  .fixed-action-btn .btn-floating:hover {
    background-color: #71E574; }

canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px; }

footer.page-footer {
  background-color: transparent;
  margin-top: 0;
  padding-top: 0; }
  footer.page-footer .footer-copyright {
    background-color: transparent;
    color: #FF681C; }
    footer.page-footer .footer-copyright a {
      color: #FF681C;
      font-weight: bold; }

.uppercase {
  text-transform: uppercase; }

.side-nav li a {
  border-radius: 4px; }
  .side-nav li a:hover {
    background-color: rgba(200, 200, 200, 0.1); }
.side-nav .select-wrapper .select-dropdown {
  color: #FFFFFF; }
.side-nav .right .dropdown-content.active {
  background-color: rgba(0, 82, 130, 0.8); }
.side-nav #user-dropdown {
  min-width: 165px; }

#slide-right {
  left: auto;
  right: 0;
  top: 64px;
  background-color: #FFFFFF;
  padding: 0 15px;
  z-index: 1; }
  #slide-right input {
    color: #212121; }

.list-detail {
  min-height: 300px; }

.btn-filter {
  position: absolute;
  top: 70px;
  right: 250px;
  color: #673AB7; }
  .btn-filter:hover {
    color: #9976db; }

.first-uppercase {
  text-transform: capitalize; }

.text-shadow {
  text-shadow: 1px 1px 1px #969696; }

.email-link {
  color: #37474F;
  text-decoration: underline; }

.pagination li.active {
  background-color: #673AB7; }
.pagination li a {
  color: #673AB7; }

input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=text]:focus:not([readonly]),
input[type=password].valid,
input[type=password]:focus.valid,
input[type=password]:focus:not([readonly]),
input[type=email].valid,
input[type=email]:focus.valid,
input[type=email]:focus:not([readonly]),
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=number]:focus:not([readonly]),
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid,
textarea.materialize-textarea:focus:not([readonly]) {
  color: #212121;
  border-bottom: 1px solid #FF681C;
  box-shadow: 0 1px 0 0 #FF681C; }

label.active,
input[type=text]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #FF681C; }

.select-wrapper span.caret {
  color: #9e9e9e; }
.select-wrapper .select-dropdown {
  color: #212121; }
.select-wrapper .dropdown-content {
  background-color: #37474F;
  opacity: 0.7; }
  .select-wrapper .dropdown-content li, .select-wrapper .dropdown-content li.active, .select-wrapper .dropdown-content li.active.selected {
    background-color: #37474F; }
    .select-wrapper .dropdown-content li:hover, .select-wrapper .dropdown-content li.active:hover, .select-wrapper .dropdown-content li.active.selected:hover {
      background-color: #263238;
      font-weight: bold; }
    .select-wrapper .dropdown-content li span, .select-wrapper .dropdown-content li.active span, .select-wrapper .dropdown-content li.active.selected span {
      color: #FFFFFF; }

.input-field .btn-blue {
  background-color: #37474F; }
.input-field .btn-orange {
  background-color: #FF681C; }
.input-field .select-wrapper.ng-not-empty input {
  border-bottom: 1px solid #FF681C;
  box-shadow: 0 1px 0 0 #FF681C; }
.input-field .datepicker {
  color: #212121; }
.input-field .datepicker.ng-not-empty {
  border-bottom: 1px solid #FF681C;
  box-shadow: 0 1px 0 0 #FF681C; }

.crear-cliente {
  position: relative;
  margin-left: 0; }
  .crear-cliente .container form {
    padding: 20px;
    margin-top: 20px; }

.crear-mascota {
  position: relative;
  margin-left: 0; }
  .crear-mascota .container form {
    padding: 20px;
    margin-top: 20px; }
  .crear-mascota .container .select-dropdown li.optgroup > span {
    font-weight: bold; }
  .crear-mascota .container .select-dropdown li.optgroup {
    opacity: 0.5; }

.btn-custom {
  background-color: #263238; }

.content-search {
  width: 300px; }
  .content-search input {
    display: none;
    width: 200px;
    margin-left: 10px;
    margin-bottom: 0;
    color: #212121;
    border-bottom: 2px solid #FF681C; }
  .content-search .material-icons {
    color: #727272; }

.input-field.wrap-search {
  padding: 7px 13px;
  margin-top: 50px; }
  .input-field.wrap-search .prefix.active {
    color: #FF681C; }
  .input-field.wrap-search input {
    margin-left: 7px;
    padding-left: 28px; }
  .input-field.wrap-search .material-icons {
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    color: #9e9e9e; }

.sidebar-index .side-nav {
  background-color: #37474F;
  margin-top: 64px; }
  .sidebar-index .side-nav ul {
    margin: 50px 0 100px; }
    .sidebar-index .side-nav ul li a {
      text-align: center;
      height: 70px; }
      .sidebar-index .side-nav ul li a i {
        display: block;
        line-height: 42px; }
      .sidebar-index .side-nav ul li a span {
        display: block;
        line-height: 20px; }
  .sidebar-index .side-nav .btn-create {
    background-color: #673AB7;
    height: 50px;
    line-height: 50px; }
    .sidebar-index .side-nav .btn-create:hover {
      background-color: #9976db; }
  .sidebar-index .side-nav a.active {
    background-color: #263238; }
  .sidebar-index .side-nav a {
    color: #FFFFFF; }
    .sidebar-index .side-nav a:hover {
      background-color: #263238; }
  .sidebar-index .side-nav .divider {
    opacity: 0.3;
    margin: 10px 5px; }
  .sidebar-index .side-nav .input-field {
    position: relative;
    padding: 7px 20px;
    margin-top: 0; }
    .sidebar-index .side-nav .input-field .caret {
      top: 22px;
      right: 7px;
      color: #FFFFFF; }
    .sidebar-index .side-nav .input-field .select-wrapper .dropdown-content {
      background-color: #37474F; }
      .sidebar-index .side-nav .input-field .select-wrapper .dropdown-content li:hover {
        background-color: #263238; }
      .sidebar-index .side-nav .input-field .select-wrapper .dropdown-content li span {
        color: #FFFFFF; }
    .sidebar-index .side-nav .input-field a {
      margin: 0 5px;
      border-radius: 4px; }
      .sidebar-index .side-nav .input-field a:hover {
        background-color: rgba(200, 200, 200, 0.1); }
.sidebar-index .wrap-profile .wrap-image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .sidebar-index .wrap-profile .wrap-image img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%; }
.sidebar-index .wrap-notification {
  display: inline-block; }
  .sidebar-index .wrap-notification .notification-element {
    display: inline-block;
    position: relative;
    left: 30px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    padding: 0; }
    .sidebar-index .wrap-notification .notification-element i {
      position: relative;
      width: 40px;
      height: 30px;
      line-height: 30px; }
      .sidebar-index .wrap-notification .notification-element i .badge {
        position: absolute;
        left: 13px;
        top: 0;
        background-color: #FF681C;
        border-radius: 10px;
        line-height: 20px;
        min-width: 21px;
        color: #FFFFFF; }
  .sidebar-index .wrap-notification .dropdown-content, .sidebar-index .wrap-notification .dropdown-content.active {
    background-color: #FFFFFF;
    min-width: 180px; }
    .sidebar-index .wrap-notification .dropdown-content li:hover, .sidebar-index .wrap-notification .dropdown-content.active li:hover {
      background-color: transparent; }
    .sidebar-index .wrap-notification .dropdown-content li a, .sidebar-index .wrap-notification .dropdown-content.active li a {
      color: #212121; }
      .sidebar-index .wrap-notification .dropdown-content li a:hover, .sidebar-index .wrap-notification .dropdown-content.active li a:hover {
        background-color: transparent; }

/*.sidebar-mascota{
  .nav-mascota{
    background-color: $background-color;
    box-shadow: none;
    .side-nav{
      min-width: 260px;
      box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
      li{
        position: relative;
        padding: 7px;
        z-index: 4;
        a{
          margin: 0 5px;
          border-radius: 4px;
          &:hover{
            background-color: rgba(200,200,200,0.1);
          }
        }
      }
      .active{
        background-color: $primary-color-dark;
        box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 82, 130, 0.4);
        &:hover{
          background-color: $primary-color-light;
        }
        font-weight: bold;
        li{
          a{
            color: #fff;
            font-size: 14px;
            .material-icons{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .side-nav.active{
      background-color: rgba(0,0,0,0.05);
      &:hover{
        background-color: rgba(0,0,0,0.05);
      }
    }
    .divider{
      opacity: 0.3;
      margin: 0 5px;
    }
    .collapsible{
      li.active{
        background-color: rgba(0,0,0,0.05);
        box-shadow: none;
        &:hover{
          background-color: rgba(0,0,0,0.05);
        }
        a.active{
          box-shadow: none;
        }
      }
      .collapsible-header{
        img{
          vertical-align: middle;
          margin-right: 7px;
        }
      }
      .collapsible-header.active{
        background-color: rgba(0,0,0,0.05);
        &:hover{
          background-color: rgba(0,0,0,0.05);
        }
      }
      .collapsible-body{
        background-color: rgba(0,0,0,0.05);
        &:hover{
          background-color: rgba(0,0,0,0.05);
        }
      }
    }
    .dropdown-button{
      .circle{
        width: 30px;
        height: 30px;
        position: relative;
        top: 8px;
        right: 10px;
      }
    }
    .side-nav{
      background-color: $background-color;
      a{
        color: $primary-color-text;
      }
    }
  }
}*/
.collapsible li.active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none; }
  .collapsible li.active:hover {
    background-color: rgba(0, 0, 0, 0.05); }
  .collapsible li.active a.active {
    box-shadow: none; }
.collapsible .collapsible-header img {
  vertical-align: middle;
  margin-right: 7px; }
.collapsible .collapsible-header.active {
  background-color: rgba(0, 0, 0, 0.05); }
  .collapsible .collapsible-header.active:hover {
    background-color: rgba(0, 0, 0, 0.05); }
.collapsible .collapsible-body {
  background-color: rgba(0, 0, 0, 0.05); }
  .collapsible .collapsible-body:hover {
    background-color: rgba(0, 0, 0, 0.05); }

.section-login .background-login {
  background-image: url(../../img/header-bg.png);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center; }
  .section-login .background-login::after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #FF681C;
    background: -moz-linear-gradient(top, #FF681C 0%, #666666 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FF681C), color-stop(100%, #666666));
    background: -webkit-linear-gradient(top, #FF681C 0%, #666666 100%);
    background: -o-linear-gradient(top, #FF681C 0%, #666666 100%);
    background: -ms-linear-gradient(top, #FF681C 0%, #666666 100%);
    background: linear-gradient(top, #FF681C 0%, #666666 100%);
    opacity: 0.8; }
.section-login .wrap-login {
  position: relative;
  z-index: 4;
  height: 700px; }
  .section-login .wrap-login .login {
    position: absolute;
    top: 30%;
    left: 40%;
    border-radius: 20px;
    padding: 30px;
    animation-duration: 3s; }
    .section-login .wrap-login .login img {
      display: inherit;
      margin: 0 auto; }
    .section-login .wrap-login .login form {
      margin-bottom: 10px; }
    .section-login .wrap-login .login .input-field {
      width: 280px;
      background-color: rgba(131, 131, 131, 0.6);
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      border-radius: 30px;
      padding: 0 20px; }
      .section-login .wrap-login .login .input-field input {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif; }
      .section-login .wrap-login .login .input-field .prefix {
        padding-top: 15px;
        color: #f7f7f7; }
      .section-login .wrap-login .login .input-field .prefix.active {
        color: #FF681C; }
    .section-login .wrap-login .login .wrap-btn {
      padding: 0; }
      .section-login .wrap-login .login .wrap-btn .waves-effect {
        width: 100%;
        border-radius: 30px;
        font-weight: 700; }
    .section-login .wrap-login .login .chip {
      background-color: transparent;
      float: right; }

.privateNav-content .dropdown-content, .privateNav-content .dropdown-content.active {
  background-color: #FF681C;
  min-width: 180px; }
  .privateNav-content .dropdown-content li:hover, .privateNav-content .dropdown-content.active li:hover {
    background-color: #f77c56; }
  .privateNav-content .dropdown-content li a, .privateNav-content .dropdown-content.active li a {
    color: #FFFFFF; }
    .privateNav-content .dropdown-content li a:hover, .privateNav-content .dropdown-content.active li a:hover {
      background-color: #f77c56; }
.privateNav-content .app-nav {
  background-color: #FF681C; }
  .privateNav-content .app-nav .nav-logo {
    line-height: 1;
    margin-left: 75px; }
    .privateNav-content .app-nav .nav-logo a {
      line-height: 1; }
  .privateNav-content .app-nav .item-active {
    padding-left: 75px; }
    .privateNav-content .app-nav .item-active p {
      margin-top: 0;
      padding: 0 25px;
      background-color: #F5F5F5;
      color: #FF681C;
      border-bottom: 4px solid #FF681C; }
  .privateNav-content .app-nav .brand-logo.center {
    padding: 2px; }
    .privateNav-content .app-nav .brand-logo.center img {
      width: 60px;
      height: 60px; }
    .privateNav-content .app-nav .brand-logo.center span {
      vertical-align: top; }
.privateNav-content .dropdown-button .circle {
  width: 30px;
  height: 30px;
  position: relative;
  top: 8px;
  right: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.privateNav-content .dropdown-button span {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); }
.privateNav-content .side-nav {
  background-color: #F5F5F5; }
  .privateNav-content .side-nav a {
    color: #FFFFFF; }
.privateNav-content #mobile-menu .mobile-dropdown {
  background-color: #B6B6B6; }
  .privateNav-content #mobile-menu .mobile-dropdown span {
    color: #fff; }

.inicio-content {
  margin-top: 20px;
  /*input[type=text]{
    border-bottom: 1px solid $primary-color-dark;
    box-shadow: 0 1px 0 0 $primary-color-dark;
    &:focus:not([readonly]){
      border-bottom: 1px solid $primary-color-light;
      box-shadow: 0 1px 0 0 $primary-color-light;
    }
  }*/ }
  .inicio-content .wrap-cards {
    min-width: 330px; }
  .inicio-content .card .card-image img {
    max-height: 220px;
    max-width: 220px;
    margin: 15px auto;
    border-radius: 50%; }
  .inicio-content .card .card-content {
    padding-top: 0; }
    .inicio-content .card .card-content .card-title {
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.12); }
    .inicio-content .card .card-content .caracter {
      margin-top: 5px; }
  .inicio-content .card .card-reveal .address {
    margin-top: 15px; }
  .inicio-content .card.large {
    height: 470px;
    max-width: 330px;
    text-align: center; }
  .inicio-content .prefix {
    color: #37474F; }
  .inicio-content .prefix.active {
    color: #263238; }
  .inicio-content .filter-side-bar .dropdown-content li:first-child > span {
    color: #727272; }
  .inicio-content .filter-side-bar .dropdown-content li > span {
    color: #37474F;
    text-transform: capitalize; }
  .inicio-content #tab-clientes input, .inicio-content #tab-mascotas input {
    color: #37474F; }
  .inicio-content #tab-clientes .caret, .inicio-content #tab-mascotas .caret {
    color: #37474F; }
  .inicio-content .tab-menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
    background-color: transparent; }
    .inicio-content .tab-menu li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: block;
      float: left;
      text-align: center;
      line-height: 48px;
      height: 48px;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      text-overflow: ellipsis;
      overflow: hidden;
      letter-spacing: .8px;
      width: 15%;
      min-width: 80px; }
      .inicio-content .tab-menu li .btn {
        background-color: #fff; }
      .inicio-content .tab-menu li .active {
        background-color: #37474F;
        color: #fff; }
      .inicio-content .tab-menu li .tab-cliente {
        border: 2px solid #37474F;
        border-top-left-radius: 8px; }
        .inicio-content .tab-menu li .tab-cliente .material-icons {
          padding: 5px; }
      .inicio-content .tab-menu li .tab-mascota {
        border: 2px solid #37474F;
        border-top-right-radius: 8px; }
        .inicio-content .tab-menu li .tab-mascota .material-icons {
          padding: 5px; }
      .inicio-content .tab-menu li a {
        font-family: 'roboto_condensedbold', sans-serif;
        font-size: 1.28571em;
        color: #212121;
        display: block;
        width: 100%;
        height: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: color .28s ease; }
    .inicio-content .tab-menu .indicator {
      background-color: #37474F; }

.sprite {
  background-image: url(../../img/spritedog.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite-dog-Muy.manso {
  width: 34px;
  height: 30px;
  background-position: -136px -5px; }

.sprite-dog-Manso {
  width: 68px;
  height: 30px;
  background-position: -102px -5px; }

.sprite-dog-Normal {
  width: 102px;
  height: 30px;
  background-position: -68px -5px; }

.sprite-dog-Agresivo {
  width: 136px;
  height: 30px;
  background-position: -34px -5px; }

.sprite-dog-Muy.agresivo {
  width: 170px;
  height: 30px;
  background-position: 0 -5px; }

.wrap-subcontent {
  padding-top: 15px; }
  .wrap-subcontent .email-link {
    color: #37474F;
    text-decoration: underline; }

.wrap-buttons {
  margin-top: 10px; }

.profile-content .subtitle {
  color: #727272;
  font-size: 1.14286em;
  padding-bottom: 5px; }
.profile-content .card-content h4 {
  margin: 1.14rem 0 0.400rem 0;
  color: #212121; }
.profile-content .card-panel {
  position: relative; }
  .profile-content .card-panel .bookmark {
    width: 230px;
    height: 40px;
    background-color: #FF681C;
    position: absolute;
    top: 0;
    left: 0; }
    .profile-content .card-panel .bookmark span {
      color: #fff;
      font-size: 1.28571em;
      line-height: 40px; }
  .profile-content .card-panel table tr {
    padding-bottom: 5px; }
    .profile-content .card-panel table tr td {
      color: #212121;
      font-size: 1.14286em;
      font-weight: 500;
      /*&:first-child, &:nth-child(3){
        color: $secondary-text-color;
        max-width: 100px;
      }*/ }
  .profile-content .card-panel .collapsible-header span {
    font-size: 16px;
    font-weight: bold; }

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px; }
  .card .card-header {
    display: inline-block;
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px; }
    .card .card-header .card-content input {
      color: #212121; }
    .card .card-header .card-content .select-wrapper input.select-dropdown {
      color: #B6B6B6; }

.wrap-resume .card {
  min-height: 151px; }
  .wrap-resume .card .card-header {
    float: left;
    color: #FFFFFF;
    box-shadow: 0 12px 20px -10px rgba(0, 82, 130, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 82, 130, 0.2); }
  .wrap-resume .card .card-content {
    text-align: right;
    padding-top: 10px; }
    .wrap-resume .card .card-content .subtitle {
      color: #727272; }
    .wrap-resume .card .card-content h3 {
      margin: 0; }
    .wrap-resume .card .card-content .wrap-search {
      display: inline-block;
      margin-top: 0; }
      .wrap-resume .card .card-content .wrap-search input {
        margin-left: 22px; }
  .wrap-resume .card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee; }
    .wrap-resume .card .card-footer p {
      margin: 0;
      color: #727272; }
      .wrap-resume .card .card-footer p span {
        color: #212121; }
.wrap-resume .content-informes .card .card-header {
  background-color: #46BE8A; }
.wrap-resume .content-notas .card .card-header {
  background-color: #46BE8A; }
.wrap-resume .content-visitas .card .card-header {
  background-color: #673AB7; }
.wrap-resume .content-alergias .card .card-header {
  background-color: #FF681C; }
.wrap-resume .content-medidas .card .card-header {
  background-color: #46BE8A; }

.create-content {
  margin-top: 100px; }

/***** INFORMES *****/
.section-informes {
  margin-top: 50px;
  margin-left: 100px; }
  .section-informes .card .card-content form {
    margin-top: 50px; }
    .section-informes .card .card-content form .wrap-search {
      padding: 0 13px; }
      .section-informes .card .card-content form .wrap-search label {
        margin-left: 3.3rem; }
    .section-informes .card .card-content form button {
      margin-top: 10px; }
      .section-informes .card .card-content form button i {
        color: #FFFFFF; }
    .section-informes .card .card-content form p span {
      font-weight: bold; }
  .section-informes .card .wrap-results {
    margin-left: 10px; }
  .section-informes .card a {
    margin: 20px; }

/***** CARTAS *****/
#letters .letter-header {
  float: right;
  margin-top: 20px; }

/***** NOTAS *****/
.section-notas .wrap-resume {
  max-width: 440px; }
.section-notas .card-action span {
  margin: 0;
  line-height: 38px; }
.section-notas .card-action a {
  float: right; }
.section-notas .card-reveal {
  background-color: #46BE8A; }
.section-notas .btn-crear {
  background-color: #673AB7; }
  .section-notas .btn-crear:hover {
    background-color: #9976db; }

/***** ALERGIAS *****/
.section-alergias .wrap-resume {
  max-width: 475px; }
.section-alergias .btn-crear {
  background-color: #673AB7; }
  .section-alergias .btn-crear:hover {
    background-color: #9976db; }

/***** VISITAS *****/
.section-visitas .wrap-resume {
  max-width: 475px; }
.section-visitas .card .card-content {
  max-height: 100%; }
  .section-visitas .card .card-content p {
    padding-bottom: 15px; }
  .section-visitas .card .card-content .subtitle {
    color: #727272;
    font-size: 1.14286em;
    padding-bottom: 5px; }
.section-visitas .card .card-action span {
  margin: 0;
  line-height: 38px; }
.section-visitas .card .card-action a {
  float: right; }
.section-visitas .btn-crear {
  background-color: #673AB7; }
  .section-visitas .btn-crear:hover {
    background-color: #9976db; }

/***** MEDIDAS *****/
.section-medidas .wrap-resume {
  max-width: 485px; }
.section-medidas .btn-crear {
  background-color: #673AB7; }
  .section-medidas .btn-crear:hover {
    background-color: #9976db; }

/***** VACUNAS *****/
.section-mascota-vacunas {
  background-color: #F5F5F5;
  padding: 30px 40px;
  border-radius: 3px; }
  .section-mascota-vacunas h4 {
    color: #212121; }
  .section-mascota-vacunas .collapsible {
    display: inline-block;
    border: none; }
    .section-mascota-vacunas .collapsible .collapsible-header {
      background-color: #46BE8A;
      color: #FFFFFF;
      border-radius: 3px;
      border-bottom: none; }
      .section-mascota-vacunas .collapsible .collapsible-header:hover {
        background-color: #71E574; }
  .section-mascota-vacunas .btn-crear {
    margin-top: 50px;
    background-color: #673AB7; }
    .section-mascota-vacunas .btn-crear:hover {
      background-color: #9976db; }
  .section-mascota-vacunas .card {
    margin: 0;
    padding: 10px 20px; }
    .section-mascota-vacunas .card .btn-crear-vacuna {
      background-color: #9976db; }
    .section-mascota-vacunas .card .table-vacunas td {
      padding: 22px 5px 23px; }
    .section-mascota-vacunas .card .table {
      margin-top: 10px;
      border-top: 1px solid rgba(160, 160, 160, 0.2); }
      .section-mascota-vacunas .card .table .btn-editar {
        color: #FF681C; }
    .section-mascota-vacunas .card .table-calendario-vacunas td {
      padding: 10px 5px; }

.section-vacunas h4 {
  padding: 5px 15px;
  color: #FFFFFF; }
.section-vacunas .card {
  padding: 5px 15px; }
  .section-vacunas .card .table td {
    padding: 5px; }

.collection {
  min-height: 170px;
  background-color: #fff;
  padding-bottom: 10px; }
  .collection .collection-item {
    border-bottom: none; }
  .collection .collection-item.avatar {
    min-height: 120px !important; }
    .collection .collection-item.avatar .title {
      font-size: 1.28571em; }
  .collection .updated {
    color: #9976db;
    font-weight: bold; }

.wrap-upload-image .btn-floating {
  left: 210px;
  top: 60px; }
.wrap-upload-image img {
  display: block;
  margin: 20px 0; }

/* TIMELINE */
.timeline {
  position: relative; }
  .timeline .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px; }
    .timeline .timeline-event:before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0; }
    .timeline .timeline-event:after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px); }
    .timeline .timeline-event .timeline-content {
      position: relative;
      width: calc(50% - 50px); }
  .timeline .timeline-badge {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background: #d2d2d2;
    top: calc(50% - 20px);
    right: calc(50% - 20px);
    border-radius: 50%;
    text-align: center;
    cursor: default; }
    .timeline .timeline-badge i {
      font-size: 25px;
      line-height: 40px; }

.timeline .timeline-event:first-child::before {
  display: none; }

.timeline .timeline-event:last-child::after {
  display: none; }

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px); }

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0; }

/* MEDIA QUERIES */
@media (max-width: 1500px) {
  .mascota-profile {
    margin-left: 15%; }

  .inicio-content .wrap-filters {
    margin: auto;
    padding: 10px; } }
@media (max-width: 1400px) {
  .profile-content .row .wrap-pet-avatar {
    width: 100%; } }
@media (max-width: 1200px) {
  .profile-content .card-panel {
    text-align: center; }
    .profile-content .card-panel .bookmark {
      right: 0;
      margin: 0 auto; } }
@media (min-width: 992px) and (max-width: 1400px) {
  .profile-content .row .card-image {
    width: 100%; }
    .profile-content .row .card-image img {
      max-width: 250px; } }
@media (max-width: 992px) {
  main {
    margin-left: 0; }

  .mascota-profile {
    margin-left: 0; }

  #slide-right {
    display: none; } }
@media (max-width: 768px) {
  table.responsive-table thead {
    width: 30%; }

  .section-login .wrap-login .login {
    top: 15%;
    left: 20%; }

  .privateNav-content .app-nav .brand-logo.center img {
    width: 50px;
    height: 50px; }
  .privateNav-content .nav-mascota {
    background-color: #37474F; } }
@media (max-width: 600px) {
  .sidebar-index .side-nav {
    margin-top: 56px; }
    .sidebar-index .side-nav ul {
      margin-top: 0; }

  .profile-content .row .card-image img {
    max-width: 200px; } }
@media screen and (max-width: 500px) {
  main {
    min-height: 500px; }

  .section-login .wrap-login {
    height: 50px; }
    .section-login .wrap-login .login {
      top: 5%;
      left: 5%; }

  .inicio-content .wrap-subcontent .btn {
    width: 30%; }
    .inicio-content .wrap-subcontent .btn i {
      font-size: 2rem; }

  .create-content {
    margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
